#ja-col1
{
	margin-top: -111px !important;
}
#ja-container #block-newsflash #newsflash.roknewsflash .controls
{
	margin-top: -25px;
}
#ja-container #block-advs_banner .ja-box-tl
{
	padding-bottom: 0px;
}
