<?php
/**
 * @version $Id: reopen.tmpl 50 2009-03-26 18:40:35Z webamoeba $
 * @copyright Copyright (C) James Kennard
 * @license GNU/GPL, see LICENSE.php
 * @package wats-plugins
 * @subpackage mailnotification
 */

// no direct access
defined( '_JEXEC' ) or die( 'Restricted access' );

$wats =& WFactory::getConfig();
?>
<?php echo JText::sprintf("TO %s", $this->recipient->name); ?> 
<?php echo JText::_("TICKET HAS BEEN REOPENED"); ?> 
------------------------------------------------------------ 
<?php echo JText::_("Ticket Name"); ?>: <?php echo $this->ticket->name; ?> 
<?php echo JText::_("WATS_TICKETS_ID"); ?>: WATS-<?php echo $this->ticket->ticketId; ?> 
<?php echo JText::_("REOPENED BY"); ?>: <?php echo $this->lastMessageOwner->username; ?> 
<?php echo JText::_("REOPEN REASON"); ?>: 
<?php echo $this->lastMessage->msg; ?> 
------------------------------------------------------------ 
<?php echo $wats->get("copyright"); ?> 
