.icon-32-enableall    { 
        background-image: url(images/icon-32-enableall.png); 
}
.icon-32-clear    { 
        background-image: url(images/icon-32-clear.png); 
}
.icon-32-changeselected    { 
        background-image: url(images/icon-32-changeselected.png); 
}
